.download-resume{
  text-align: center;
  margin-left: 10px;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 500;
}
.content h3 {
  font-size: 30px;
}
#main {
  margin-top: 100px;
  background-color: #def1fa;
  display: grid;
  grid-template-columns: 50% 50%;
  animation: move-down 1s linear forwards;
}
@keyframes move-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.txt {
  margin-left: 10px;
  flex: auto;
  height: max-content;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}
.hi {
  color: #1070ff;
}
.content {
  height: 100%;
  top: -20vh;
  display: grid;
  grid-template-rows: 10% 20% 30% 15% 5%;
  text-align: left;
  color: #1070ff;
  flex-direction: column;
  justify-content: center;
}
.socialMedia-mobile {
  visibility: hidden;
}
.my-info {
  padding: 20px;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
}
.imag {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
.right-section {
  background-color: #def1fa;
}

.right-section img {
  width: 340px;
  position: absolute;
  bottom: -10px;
  right: 12%;
}

.right-section .splash {
  position: relative;
  top: 100px;
  right: 20%;
  /* transform: rotate(-35deg); */
  width: 750px;
}
/* MEDIA QUERIES */

@media (max-width: 1383px) {
  .content{
    margin-top: 0px;
  }
  .my-info {
    font-weight: 550;
    font-size: 20px;
  }
  .socialMedia-mobile {
    visibility: visible;
    display: grid;
    height: max-content;
    grid-template-columns: repeat(6, 40px);
    grid-template-rows: 70% 30%;
    margin-top: 10px;
    margin-left: 10px;
    /* justify-content: right; */
  }
  .content{
    grid-template-rows: 10% 20% 30% 15% 5%;
  }
}
@media (max-width: 768px) {
  #main {
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    margin-top: 20px;
  }
  .content h3 {
    font-size: 20px;
  }
  .content {
    top: 0;
    grid-template-rows: 10% 20% 25% 10% 15%;
    /* margin-top: 20px; */
    margin-bottom: 20px;
  }

  .right-section img {
    width: 250px;
    bottom: initial;
    right: initial;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .right-section .splash {
    top: 0px;
    right: initial;
    left: 50%;
    /* transform: translateX(-50%) rotate(-45deg); */
    width: 300px;
  }
}

@media (max-width: 576px) {
  .content {
    grid-template-rows: 10% 30% 25% 10% 10%;
  }
  .right-section img {
    /* bottom: 0px; */
    top: 350px;
    width: 180px;
  }
  .right-section .splash {
    top: -70px;
    right: 0;
    left: 45%;
    /* transform: translateX(-50%) rotate(-35deg); */
    width: 100vw;
  }
  .content {
    width: 100vw;
  }
}
@media screen and (min-height: 400px) and (min-width: 576px) and (max-width: 768px) {
  .right-section .splash {
    top: 187px;
    /* transform: translateX(-50%) rotate(-35deg); */
    width: 400px;
  }
  .right-section img {
    top: 285px;
  }
}
@media screen and (height: 800px) and (min-width: 350px) and (max-width: 575px) {
  .right-section .splash {
    top: 207px;
    /* transform: translateX(-50%) rotate(-45deg); */
    width: 400px;
  }
  .right-section img {
    top: 325px;
  }
}
@media (width: 768px) and (height: 1024px) {
  .right-section .splash {
    top: 300px;
    /* transform: translateX(-50%) rotate(-35deg); */
    width: 600px;
  }
  .right-section img {
    top: 350px;
    width: 400px;
  }
}
@media (min-width: 390px) and (max-width: 415px) and (min-height: 844px) and (max-height: 896px) {
  #main {
    grid-template-rows: 60% 40%;
  }
  .right-section .splash {
    top: -50px;
    /* transform: translateX(-50%) rotate(-45deg); */
    width: 380px;
  }
  .right-section img {
    top: 455px;
    width: 200px;
  }
  .content {
    margin-bottom: 0;
  }
}
@media ((height: 1180px) and (width:820px)) or ((width: 912px) and (height:1368px)) {
  #main {
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
  }
  .right-section .splash {
    top: 180px;
    left: 140px;
    width: 600px;
  }
  .right-section img {
    top: 540px;
    left: 300px;
    width: 350px;
  }
  .my-info {
    font-size: 30px;
  }
  .socialMedia-mobile{
    grid-template-columns: repeat(6, 60px);
  }
  .download-resume{
    font-size: 40px;
  }
}
@media (max-width: 280px) {
  .txt {
    font-size: 20px;
  }
  #main {
    width: fit-content;
  }
  .right-section .splash {
    top: 25px;
    width: 280px;
    left: 140px;
  }
}
@media ((min-width: 540px) and (max-width:650px) and (min-height:720px) and (max-height:800px)) {
  .right-section .splash {
    top: 0px;
    left: 260px;
    width: 400px;
  }
  .right-section img {
    top: 370px;
    left: 260px;
    width: 200px;
  }
}
@media (width: 412px) and ((height: 915px) or (height:914px)) {
  .right-section .splash {
    top: 70px;
    left: 200px;
    width: 400px;
  }
  .right-section img {
    top: 470px;
    left: 200px;
    width: 200px;
  }
}
@media (min-height: 600px) and (max-height: 800px) and (min-width: 1024px) and (max-width: 1280px) {
  .content {
    grid-template-rows: 10% 20% 25% 15% 10%;
  }
  .right-section .splash {
    top: 190px;
    left: -30px;
    width: 500px;
  }
  .right-section img {
    top: 130px;
    width: 300px;
    left: 680px;
  }
}
@media (width:768px) and (height:1024px){
  .right-section .splash {
    top: 0;
    width: 700px;
  }
  .right-section img{
    top: 370px;
  }
}



/* Dark Mode */


body.dark-mode {
  background-color: #222;
  color: #fff;
}

.dark-mode #main {
  border-color: #444;
}

.dark-mode .content {
  background-color: #333;
}

.dark-mode h3,
.dark-mode h1,
.dark-mode .my-info,
.dark-mode .socialMedia a,
.dark-mode .download-resume a {
  color: #fff;
}

.dark-mode .hi.txt,
.dark-mode .hi,
.dark-mode .resize {
  color: #f5a623;
}

.dark-mode .socialMedia a:hover,
.dark-mode .download-resume a:hover {
  color: #f5a623;
}

.dark-mode .right-section .splash {
  filter: invert(100%);
}

.dark-mode .right-section img {
  border-color: #f5a623;
}
