#main-container {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}
#left-container {
  background-color: #bddcea;
  display: grid;
  grid-template-rows: 85% 15%;
}
a {
  text-decoration: none;
}
.anchor {
  width: fit-content;
}
#components {
  display: grid;
  font-weight: 600;
  height: 50%;
  grid-template-columns: 80% 20%;
  margin: 2vh;
  padding: 1vh;
  align-items: center;
}
#components a {
  padding: 10%;
}

.nav_link,
.nav_link:hover,
.nav_link:visited,
.port_link:visited {
  color: black;
}
.nav_link.active {
  color: #1070ff;
}
.socialMedia {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  margin-left: 0.8vw;
}
.resize {
  height: 3vh;
}
.ignore-web {
  display: none;
}

/* media queries */
@media (max-width: 1383px) {
  #main-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
  }
  .port_link,
  .socialMedia-mq,
  .ignore {
    display: none;
  }
  #components {
    margin: 0;
    text-align: left;
    grid-template-columns: 11% 23% 15% 26% 20%;
  }
  a.nav_link {
    font-size: 20px;

    text-align: center;
  }
  #name h3 {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .ignore-web {
    display: block;
  }
  .nav_link:hover {
    font-size: 15px;
    color: red;
  }
}

@media (max-width: 760px) {
  a.nav_link {
    font-size: 15px;
  }
  .nav_link:hover {
    font-size: 12px;
    color: red;
  }
}
@media (max-width: 400px) {
  a.nav_link {
    font-size: 13px;
  }
  .nav_link:hover {
    font-size: 10px;
    color: red;
  }
}
@media (max-width: 280px) {
  a.nav_link {
    font-size: 10px;
  }
}
